@tailwind components;

@layer components {
  body {
    @apply font-sans
    leading-6	
    text-gray-700
    font-light 
    text-sm
    dark:text-white
    dark:bg-gray-700
    bg-white;
  }
  .container {
    @apply sm:max-w-[100%]
    md:max-w-[97%]
    lg:max-w-[1128px];
  }
  [disabled='disabled'] {
    @apply cursor-not-allowed;
  }
}
